@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
* {
    font-family: 'Fascinate', sans-serif;
}
* {
  margin: 0;

text-align: center;
}
body {
  background-color: #F6F3E4;
}
h1 {
  color: #FF5757;

}
.navbar {
display: flex;
 height: var(--nav-size);
 background-color: var(--bg);
 padding: 0 1rem;
 border-bottom: var(--border);
 justify-content: space-between;
 align-items: center;
}

.navbar-links {
display: flex;
color: #F6F3E4;
padding-bottom: 1px;
border-bottom: 1px solid transparent;
transition: ease;
margin-right: 28px;
}

.navbar-links li {
  padding:0% 20%;
  position: relative;
  
}
.navbar-links li:hover {
  border-bottom: solid 1px #F6F3E4;
  filter: invert(.9);  /* transform: scale(1.3); */
}
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}


:root {
  --bg: #FF5757;
  --bg-accent: #484a4d;
  --text-color:#dadce1;
  --nav-size: 50px;
  --border: 1px solid #FF5757;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-item {
  width: calc(var(--nav-size)* 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display:flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  width: 35px;
  height: 35px;
  font-size: 30px;
  transition: 0.2s ease-in-out;
}

.icon-button:hover {
  filter: invert(.9);
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;

  transition: height var(--speed) ease;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;


}

.menu-item:hover {
  background-color:#ab1d1d;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);

}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(110%);

}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
  position: absolute;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}


/* Add this media query to your existing CSS */
@media screen and (max-width: 768px) {
  .navbar-links {
    display: none; /* Hide the links when screen width is less than or equal to 768px */
  }
  .search-bar input {
    width: 10px;
    display: block;

  }
  /* Style the search icon when the links are hidden */
  .search-icon {
    align-items: flex-start;
    font-size: 20px; /* Adjust the size of the search icon */
    color: #fff; /* Adjust the color of the search icon */
    cursor: pointer; /* Add a pointer cursor for interaction */
  }
  input[type="text"]::placeholder {
    visibility: hidden;
  }
}
